.button {
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    font-size: 20px;
    background-color: skyblue;
}

.button:hover {
    background-color: lightblue;
}

.button:active {
    background-color: deepskyblue;
}

.button:disabled:hover {
    background-color: skyblue;
}

.button:disabled:active {
    background-color: skyblue;
}